.container {
  height: 100%;
  padding: 10px ;
}
.bodyContainer {
  padding: 0 16px;
}
.loading {
  display: flex;
  flex-direction: column;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.css-8i0j0q {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.2) !important;
}
.random {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 275;
  font-size: 100px;
  line-height: 150px;
}
